@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css';
.form-control-error{
    border-color: #dc3545;
}
button[class*="star-"] {
    margin-right: 5px;
}
.star-true img{
    filter: invert(1)
}
button img{
    max-width: 16px;
    max-height: 16px;
    display: block;
    margin: 4px auto;
}